*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products{
    width: 100%;
    min-height: 900px;
    background-color: chocolate;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}